.agents-featured-card-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
}

.agents-item .v-chip {
    padding: 0 0.5rem;
    font-size: 0.6875rem;
}

.agents-agent-cover {
    overflow: visible !important;
}

.agents-agent-cover .v-avatar {
    position: absolute;
    top: calc(100% - 60px);
    left: 50%;
    transform: translateX(-50%);
    outline: white solid 4px;
}

.bottom-sheet {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}