.bottom-navigation {
    box-shadow: 1px -8px 35px 0px rgba(0, 0, 0, 0.07) !important;
    display: grid !important;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
}

.bottom-navigation a {
    color: inherit;
}

.default-layout {
    padding-bottom: 5rem;
}

.chip-tab-navigation .v-chip--active:not(.v-chip--exact-active) {
    background-color: #F4F4F7;

    &::before {
        background-color: inherit;
    }
}