:root {
  --bg-body: #FAFBFB;
  --bg-body-2: #FCFCFC;
  --bg-body-dark: #151515;

  --stroke-color-1: #EDEDF3;
  --stroke-grey-1: 1px solid var(--stroke-color-1);

  --color-teal-1: #00B582;
  --color-teal-2: #00B5B0;
  --color-teal-3: #008F8A;

  --color-text-secondary-2: #6B6F89;

  --color-grey-1: #2E2E2E;

  --card-outline-color: #E6E6E6;

  --gradient-teal: linear-gradient(180deg, var(--color-teal-1), var(--color-teal-3))
}

.theme--light.v-application {
  background-color: var(--bg-body);
}

.theme--dark.v-application {
  background-color: var(--bg-body-dark);
}

.v-application .theme--light.v-chip:not(.v-chip--active) {
  background: #F4F4F7;
  color: #6B6F89;
}

.v-application a {
  text-decoration: none;
  color: inherit !important;
}

.badge {
  width: 1.25em;
  height: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #6D4320;
  border-radius: 100%;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(245, 238, 214, 1) 25%, rgba(206, 190, 140, 1) 100%);
  box-shadow: inset 0 2px 4px white, 0 2px 4px rgba(0, 0, 0, 0.5);
}

.rounded-lg-2 {
  border-radius: 10px;
}

.h-100vh {
  height: 100dvh;
}

.w-100 {
  width: 100% !important;
}

.hide-scrollbar {
  /* Internet Explorer 10+ */
  scrollbar-width: none;

  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
  }
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: relative;
}

.card-image-badge {
  position: absolute;
  z-index: 1;
  top: 1rem;
  left: -3px;

  &-decor {
    position: absolute;
    height: 1px;
    width: 2px;
    left: 0;
    top: -1px;
    border-top-left-radius: 1px;
  }
}

.pane {
  inset: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
}

.pane-h {
  flex-direction: row;
}

.pane-item {
  flex: 0 0 auto;
  position: relative;
}

.pane-fill {
  flex: 1 1 auto;
  position: relative;
}

.pane-body {
  flex: 1 1 auto;
  overflow-y: auto;
  position: relative;
}

.v-chip.outlined {
  outline: var(--color-grey-1) solid 1px;
}