.swipable-title {
    line-height: 1.375rem;
}

.swipable {
    position: relative;
}

.swipable-items.entering {
    animation-duration: var(--anim-duration);
    animation-name: slide-in;
}

.swipable-items.leaving {
    animation-duration: var(--anim-duration);
    animation-name: slide-in-2;
}

@keyframes slide-in {
    from {
        translate: 100vw 0;
        scale: 200% 1;
        opacity: 0.5;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
        opacity: 1;
    }
}

@keyframes slide-in-2 {
    from {
        translate: -100vw 0;
        scale: 200% 1;
        opacity: 0.5;
    }

    to {
        translate: 0 0;
        scale: 100% 1;
        opacity: 1;
    }
}

.swipable-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    row-gap: 0.625rem;
    overflow: hidden;
}

.swipable-indicator {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.swipable-indicator-bar {
    border-radius: 5px;
    height: 5px;
}